[2015-08-28 07:16] mattstratton opened #1 "Cannot figure out exactly where to put the webfonts"
I have purchased the `ProximaNova` fonts, and copied them into `static\webfonts` inside the theme directory. They build properly into the `public\static\webfonts` directory on my site, however, they 404 when I try to hit them on a URL. I'm not quite able to see if the proper font is being used. The site in question is http://mattstratton.io.

[2015-09-24 13:52] digitalcraftsman opened #2 "Use .BaseURL instead of .BaseUrl"
In Hugo 0.14, `BaseUrl` was renamed to `.BaseURL`. The old name is still available as an alias that triggers a warning. But with the upcoming version 0.15 will remove the aliases.

Check out your [head.html](https://github.com/nishanths/cocoa-hugo-theme/blob/56dc02acc3081d114007937b83c3bea78fa54538/layouts/partials/head.html) partial to update it. Otherwise is it not possible to generate your them

[2015-11-08 20:34] bep commented on #2
And this is, by the way, the reason why there is no demo for this theme on themes.gohugo.io.

[2015-11-09 04:48] #2 closed

[2015-11-09 04:48] nishanths commented on #2
Thanks @digitalcraftsman and @bep!

[2015-11-09 04:55] nishanths commented on #1
Apologies for not responding earlier. I accidentally missed this. You were quite close — place the `webfonts` directory in `static/css/` instead of just `static/`.

[2015-11-09 05:19] nishanths opened #4 "Add Disqus support"

[2015-11-12 15:48] bep commented on #2
There is still one BaseUrl in single.html ...

[2015-11-12 23:17] nishanths commented on #2
Thanks. Now fixed on `master`.

[2015-11-13 18:05] bep opened #5 "The /about page in /exampleSite"
For us to be able to use the exampleSite on themes.gohugo.io, the about page cannot be about you. If you want the demo site to show, please make it neutral.

[2015-12-21 10:49] #4 closed

[2015-12-21 10:49] #5 closed

[2015-12-21 10:51] nishanths commented on #5
Hi @bep! Thanks, I've finished this now, and I hope it looks alright. Please let me know if any changes are required.

[2015-12-21 11:16] nishanths commented on #1
@mattstratton Any luck with this? Let me know if there is something I should address.

[2016-01-01 18:13] #1 closed

[2016-01-23 17:45] kosciak9 opened #7 "No image support?"
So I've created new site with Cocoa, and added image, but it won't scale down. Simple fix with max width probably would do the trick :)

[2016-02-02 14:53] aerosol opened #8 "Theme builds with errors, looks incomplete"
[code]

[code]

[2016-02-02 15:00] aerosol commented on #8
Nevermind I failed to look up the example config, cheers!

[2016-02-02 15:00] #8 closed

[2016-03-22 01:41] benwiley4000 commented on #7
Haha this is the same issue I was about to post! Can't really remember where I got the number anymore, but I added a rule to my override.css that tells images inside the .main class to have a `max-width` of `658px` (with the `!important` flag). My site looks fine now, but it's not a solution I'd like to keep in the long term.

Firefox is where I experienced the issue. Chrome was fine, but it turns

[2016-03-22 11:56] kosciak9 commented on #7
Using Firefox here too, I had set up something similar to your solution. Don't know how the proper fix should look like tho.

Pozdrawiam, Franciszek Madej http://kosciak9.github.io/
Sent using CloudMagic Email [https://cloudmagic.com/k/d/mailapp?ct=pa&cv=8.3.8&pv=5.1.1&source=email_footer_2] On Tue, Mar 22, 2016 at 2:41 AM, Ben Wiley < notifications@github.com [notifications@github.com] > wrote:
H

[2016-07-31 03:37] nishanths commented on #7
Sorry about being late to this. Thanks for reporting and for the analysis.

Would you be willing to share the HTML snippet that caused this issue for you? I tried reproducing in Firefox, but sadly was unable to. :)

[2016-08-03 11:40] Dapuva76 opened #9 "errors with latest hugo release"
just found hugo and your theme, might be a problem on my end. anyway, I get

[code]

when I start the server with
`hugo server --theme=cocoa --buildDrafts `

[2016-08-03 11:54] Dapuva76 commented on #9
ok my bad. didn't write the correct variables to config.toml.

[2016-08-03 11:54] #9 closed

[2016-08-16 18:46] benwiley4000 commented on #7
Just a sidenote - a much much cleaner solution than the one I offered previously is this:

[code]

Since `img` is already set to `max-width: 100%` it fixes the issue cross-browser. Doesn't rely on magic pixels.

As far as when this problem comes up? I think it's whenever the image you're using is super large and the window width is small.

But like I said - the CSS above should fix the issue. Can

[2016-08-16 18:47] kosciak9 commented on #7
I would love to... but I'm not using Hugo anymore :(

On 16 August 2016 21:46:34 EEST, Ben Wiley notifications@github.com wrote:

##

Pozdrawiam,
Franek Madej
https://alergeek.pl/

Sent from K9-Mail powered Android, excuse the form please.

[2016-08-16 18:52] benwiley4000 commented on #7
Hmmm no chance you could throw that css into a browser dev console with
your old code and see if it works? ;)

On Aug 16, 2016 2:47 PM, "Franek Madej" notifications@github.com wrote:

[2016-08-16 19:24] kosciak9 commented on #7
Will try in the couple of days :)

On 16 August 2016 21:52:50 EEST, Ben Wiley notifications@github.com wrote:

##

Pozdrawiam,
Franek Madej
https://alergeek.pl/

Sent from K9-Mail powered Android, excuse the form please.

[2016-08-31 16:36] andy4thehuynh opened #10 "Support for separating blogs by month"
My blog posts will add up quickly on one page. It will look daunting to see a small list like that without organization.

Would organizing the blogposts by month be in your future plans for this project? I can get started on it if you feel this is the direction you want.

[2016-08-31 19:36] nishanths commented on #10
Thank you. Feel free to get started!

[2016-09-02 19:42] andy4thehuynh opened #11 "Add highlight js"
Dig the theme, would love syntax highlighting.

[Highlight JS](https://highlightjs.org/) is lightweight and supports a slew of languages. I'll put a pull request to see if you're into it.

[2016-09-03 13:42] #11 closed

[2016-09-09 12:59] nimdajitam opened #13 "Adding Content Troubles"
I've installed hugo, created new site, grabbed down cocoa and followed the instructions in it's readme. Adding new content as instructed doesn't produce wroking site at the end. Is there a bug or some sort of mistake made druing transition from old verision? If I move content folder from example site and it's config to mine, it works but as soon as I add new content (for ex.: new blog entry) it me

[2016-09-09 13:11] nishanths commented on #13
thanks for reporting! will look into this tonight.

[2016-09-10 03:46] nishanths commented on #13
**TLDR**: Set `draft = false` in the new post's front matter to make the link appear.

#

**Long version**

With

[code]

I did the following commands:

[code]

Then copy `config.toml` and `content` from the theme:

[code]

Finally, created new post:

[code]

Set `draft = false` in `content/blog/your-new-post.md` to make the link appear on front page.

(Don't forget to run `hugo -t cocoa` to regen

[2016-09-10 03:48] nishanths commented on #13
did not encounter the issue you described of parts of front page messing up. could you provide more details? thanks.

[2016-09-10 16:16] #7 closed

[2016-09-10 16:17] nishanths commented on #7
@benwiley4000 added your recommended fix to `master`. thanks!

[2016-09-10 19:06] nimdajitam commented on #13
I'm very sorry for the trouble. I forgot to set draft parameter to false!

[2016-09-11 00:33] #13 closed

[2016-09-11 10:47] nimdajitam commented on #13
Moreover, when not regenerating content while running the server serving it, dates are not displayed correctly. This was apparently my mistake too. Thanks.

[2016-09-11 16:23] nishanths commented on #13
You're welcome :)

[2016-09-16 18:09] IRus opened #14 "Support rss."
It's really important for blog to have rss. This is common way to get updates.

[2016-09-30 16:44] svsmailus opened #15 "error using cocoa theme"
Hi when I run:
`hugo -t cocoa`

I get:

`Started building site
ERROR: 2016/09/30 17:42:25 template.go:131: template: theme/partials/li.html:2:43: executing "theme/partials/li.html" at <.Site.Params.DateFor...>: invalid value; expected string in theme/partials/li.html
ERROR: 2016/09/30 17:42:25 template.go:131: template: theme/partials/li.html:2:43: executing "theme/partials/li.html" at <.Site.Para

[2016-09-30 17:03] nishanths commented on #15
Could you try using the `config.toml` from the exampleSite:
https://github.com/nishanths/cocoa-hugo-theme/blob/master/exampleSite/config.toml

[2016-09-30 18:46] svsmailus commented on #15
That fixed it.

It needs the pygmentsuseclasses and date forms.

[2016-09-30 18:46] #15 closed

[2016-10-02 03:42] #14 closed

[2016-10-07 08:13] nishanths opened #17 "Icons are not centered at smaller screen widths"
![screen shot 2016-10-07 at 3 12 07 am](https://cloud.githubusercontent.com/assets/6028224/19182977/da103242-8c3b-11e6-9a7b-9bd686a097f3.png)

Introduced in df002a3f462aa639627e64371435f9ef7603c252

[2016-10-08 05:18] #17 closed

[2016-10-24 10:31] tristan-k opened #20 "support for isso"
As alternative for Disqus I would like to see support for [Isso](https://posativ.org/isso/), which can be selfhosted.

[2016-10-24 10:43] tristan-k opened #21 "Support for Piwik (a Google Analytics alternative)"
As alternative for Google Analytics I would like to see support for [Piwik](https://github.com/piwik/piwik), which can be selfhosted.

[2016-10-24 11:05] tristan-k opened #22 "Option to add an avatar"
Please add a option to add an avatar to the landingpage. For example like in http://themes.gohugo.io/theme/hugo-sustain/ or in http://themes.gohugo.io/theme/hugo-goa/

![cocoa_avatar](https://cloud.githubusercontent.com/assets/732025/19643424/87989f7e-99ea-11e6-9b0c-e55ebca7b1a1.jpg)

[2016-11-08 20:26] remeh commented on #22
Hello. If you still want this feature: implemented here https://github.com/nishanths/cocoa-hugo-theme/pull/25

But you would need to change `?s=50` to something bigger if you want a large gravatar such as the one in your screenshot.

[2016-11-08 20:29] nishanths commented on #22
Closed via #25

[2016-11-08 20:30] tristan-k commented on #22
How do I use this with a local image?

[2016-11-08 20:35] remeh commented on #22
Hm right I did focus on Gravatar support, sorry I was a bit off-topic with your issue.
We could imagine having another configuration entry such as "Avatar" in the config.toml refering to an image and using this instead of the "Gravatar" one. @nishanths would you accept such a change ? If yes I'll do it.

[2016-11-08 20:36] nishanths commented on #22
@remeh yes :)

[2016-11-08 21:02] remeh commented on #22
@tristan-k Available https://github.com/nishanths/cocoa-hugo-theme/pull/26

If you want a larger size than the default one, for example `150px`, you should use the CSS override option using `ExtraCssFiles` and put:

[code]

in your custom css file.

[2016-11-08 21:02] #22 closed

[2016-11-09 13:16] tristan-k opened #27 "can't evaluate field Param in type *hugolib.SiteInfo"
[code]

[2016-11-09 13:30] remeh commented on #27
Arf, it's my commits -_-
There is inconsistency on how to retrieve parameters from configuration between hugo 0.17 and hugo 0.18 and my commits did broke compatibility with 0.17, sorry about that..
Right now, to use the theme you can either do:

[code]

and then build your website again, or use Hugo 0.18.

I'll try tonight to make it compatible with both versions of hugo...

[2016-11-09 15:02] remeh commented on #27
I have a fix. It looks like they didn't see the problem coming and are still working on this in Hugo: https://github.com/spf13/hugo/issues/2590#issuecomment-254261598

I've asked them what is the best solution for them but if they do not have a better solution than mine I'll push the fix making cocoa theme compatible with old hugo versions and hugo 0.18

[2016-11-09 19:19] tristan-k commented on #22
Doesnt work for me. The avatar will not be shown. I double checked the path to `img/avatar.png`.

[code]

[2016-11-09 20:12] remeh commented on #22
OK. Do you confirm that you've put it in `static/img/avatar.png` ?

[2016-11-09 20:13] tristan-k commented on #22
Yes.

[2016-11-09 20:22] remeh commented on #22
That is weird. Here it works well with a project completely started from scratch

![screenshot_2016-11-09_21-20-27](https://cloud.githubusercontent.com/assets/1798689/20153331/8bbc151a-a6c2-11e6-9c70-f8bc68fda633.png)

[2016-11-09 20:58] remeh commented on #27
Should now be fixed https://github.com/nishanths/cocoa-hugo-theme/commit/bccad9a8c48b8ce3ad1b58a873d31ae05559c772

[2016-11-11 15:55] nishanths commented on #22
@tristan-k is there a 404 in the browser console when fetching the image?

[2016-11-24 10:58] Gheek opened #30 "highlight.js not working properly"
Hello guys,
It seems there is something wrong with highlightjs.
For example in the demo: http://themes.gohugo.io/theme/cocoa/blog/use-at-instead-of-head/
When putting firefox in debugging mode I cannot see why its not working. Any ideas?

[2016-12-03 08:18] robinst opened #32 "cachebuster the wrong way around?"
Setting `params.cachebuster` to `true` results in links like this:

    <link rel="stylesheet" href="/css/reset.css">

Setting it to `false` uses the unix timestamp as a query param, see [here](https://github.com/nishanths/cocoa-hugo-theme/blob/master/layouts/partials/head_includes.html#L18). This means clients will have to load the files again when the site is rebuilt. Isn't that supposed to be "

[2016-12-03 08:56] nishanths commented on #32
Thanks for catching. Yes, I made a mistake in this commit: https://github.com/nishanths/cocoa-hugo-theme/commit/6e2e423beca2dbd59e71e2c262cc95f4d6004380

[2016-12-04 04:58] robinst commented on #32
Thanks :). With cachebusting turned on, I now get this:

[2016-12-04 05:22] nishanths commented on #32
Thanks! It looks like `.Now` [does not exist any more](https://github.com/spf13/hugo/issues/314). Sigh, it was undocumented anyway.

Even when it did exist, it appears it returned the time associated with the page,  not the current time. So cachebuster would not have been working anyway.

Possible solution is to make a pull request to hugo adding a "now" function that returns `time.Now()`.
This is

[2016-12-05 18:34] bnjmn opened #36 "Markdown incomplete for fixed pages in content root"
I haven't had a chance to isolate how or why this issue is happening but here are the steps to reproduce ...

Based on the `README`, I was under the impression both locations for the fixed pages should produce the same results:

---

### Fixed pages in content root do not render all markdown

1. Put the `about.md` page in `content/fixed/.`. Be sure to include subtitle with "### subtitle" or inline

[2016-12-05 22:39] nishanths commented on #36
@bnjmn thanks for catching this.

Haven't dug into it yet, but initial thoughts: it's likely happening because [`fixed/single.html`](https://github.com/nishanths/cocoa-hugo-theme/blob/490bf5858d4857c4ea98c0bb752906fd647fc5f5/layouts/fixed/single.html) has the `markdown` class, but [`_default/single.html`](https://github.com/nishanths/cocoa-hugo-theme/blob/490bf5858d4857c4ea98c0bb752906fd647fc5f5/l

[2016-12-06 00:02] bnjmn commented on #36
Nice. I'm new to Hugo (and go) and haven't had a chance to really dive into the source. I'm surprised the Markdown files (`*.md`) don't handle this automatically.

[2016-12-06 02:12] nishanths commented on #36
@bnjmn i believe the markdown files are handling it automatically (for instance you can see the gray code block and bold text), but the default styles don't look as nicely formatted as the custom CSS.

[2016-12-26 20:18] digitalcraftsman opened #40 "exampleSite contains redundant files"
Hello @robinst,

the exampleSite folder doesn't have to mirror the root folder. Everything that the build script for the theme site requires is a config file and an `static` folder. The rest is optional. If you want to add custom content then add create a `content` folder. You can do it likewise for a other files.

[2016-12-31 11:28] nishanths commented on #32
dependent on hugo pr: https://github.com/spf13/hugo/pull/2859

[2016-12-31 11:29] nishanths commented on #21
Open to pull requests for this :)

[2016-12-31 11:30] nishanths commented on #27
@tristan-k is it working now? if not, feel free to reopen. thanks.

[2016-12-31 11:30] #27 closed

[2016-12-31 11:41] nishanths opened #41 "reconcile differences between dev/less and css files"
The less files in `dev/less` files were used to generate stylesheets. Over time, CSS has been directly introduced in the standard CSS files, without mirroring in the less files.

Remove the `dev/less` directory, and use the standard CSS files as the single source of truth.

* Having normal CSS makes the development process easier (no preprocess step).
* The CSS isn't too large that it requires les

[2016-12-31 11:47] nishanths commented on #30
@Gheek thanks for reporting

it looks like it was because the content was using the old `{{ <highlight code> }}` syntax instead of the standard markdown code fences.

Hugo appears to support both now, so I've switched to using code fences. We will need to wait for themes.gohugo.io to rebuild the theme, so I will leave this issue open until then.

[2016-12-31 11:51] #41 closed

[2016-12-31 12:00] #30 closed

[2016-12-31 12:20] #36 closed

[2016-12-31 12:34] nishanths commented on #36
@bnjmn HTML files in `content` root should now look exactly like those in `content/fixed`. Thanks!

[2016-12-31 12:38] #40 closed

[2016-12-31 12:39] nishanths commented on #40
Thanks @digitalcraftsman, removed them.

[2016-12-31 21:34] nishanths opened #44 "update google analytics script"
iirc, hugo has built-in google analytics support now, so that could be a possibility too.

<img width="1012" alt="screen shot 2016-12-31 at 3 33 46 pm" src="https://cloud.githubusercontent.com/assets/6028224/21579325/a4b83a88-cf6e-11e6-8fed-ffb19c764590.png">

[2016-12-31 21:53] nishanths commented on #32
Done in https://github.com/nishanths/cocoa-hugo-theme/commit/2e598e5b739c0529ba0d8ec305066ad209f4317f.

works for me with hugo 0.18.
@robinst please feel free to reopen if you have issues. thanks for patience!

Related thread for future: https://discuss.gohugo.io/t/proposal-replace-page-now/4968

[2016-12-31 21:53] #32 closed

[2016-12-31 22:33] #44 closed

[2017-01-04 10:16] robinst opened #45 "Replace icon font with SVG icons?"
The theme currently uses the [ionicon icon font](http://ionicons.com/), which results in 230 KB of `.css` and `.ttf`. For the few icons that are actually used from it, this seems like a significant addition to the page weight.

Have you considered replacing them with SVG icons instead? [Simple icons](https://simpleicons.org/) look promising, I found all icons that are referenced in `header.html`,

[2017-01-04 15:25] nishanths commented on #45
SVG would be great. Thanks for preparing a PR!

[2017-01-05 01:01] nishanths commented on #41
Switched to using `less` again: https://github.com/nishanths/cocoa-hugo-theme/pull/46

[2017-01-06 02:56] nishanths commented on #45
Fixed by #47

[2017-01-06 02:56] #45 closed

[2017-01-09 11:25] nishanths opened #50 "Support more social icons"
Currently, we only only support twitter, github, linkedin, email, and RSS.

We could incrementally add support for:

- [] telegram
- [] pinterest
- [] keybase
- [] foursquare
- [] are.na

and so on.

These can be enabled/disabled in `config.toml` as usual.

[2017-01-15 06:50] simon-xia opened #51 "hugo 0.18.1 build error"
general.go:236: theme/partials/li.html is an incomplete or empty template

[2017-01-15 10:09] nishanths commented on #51
[code]

Running:

[code]

produces no errors for me.

could you provide the commands you ran and any possible files you edited?

[2017-01-15 12:45] simon-xia commented on #51
in my site dir, running

`hugo server --theme=cocoa-hugo-theme`

got that error

[2017-01-15 12:47] nishanths commented on #51
Assuming you've cloned into themes/cocoa-hugo-theme:

[code]

also does not return an error for the exampleSite.

Is your site's source somewhere online where I can look at?

[2017-01-15 12:59] simon-xia commented on #51
I only have one post under in `content/post/test.md`:

[code]

[2017-01-15 13:12] nishanths commented on #51
Use `content/blog`, not `content/post`. See the README for details.

[code]

`content/blog/test.md` has the contents from https://github.com/nishanths/cocoa-hugo-theme/issues/51#issuecomment-272693648.
The cocoa theme at the current `master`.
`config.toml` is copied from `exampleSite`.

Running

[code]

[2017-01-15 13:19] simon-xia commented on #51
now I got:

[code]

[2017-01-15 13:21] nishanths commented on #51
[code]

You'll need the config.toml from exampleSite.

[code]

Where is cocoa-hugo-theme stored? In `themes/cocoa-hugo-theme` relative to the root of your site?

[2017-01-15 13:21] simon-xia commented on #51
now I got:

[code]

and my `config.toml` is

[code]

[2017-01-15 13:23] nishanths commented on #51
See above comment regarding config.toml. In particular, you need the `dateform` fields

[code]

[2017-01-15 13:33] simon-xia commented on #51
it works, thank you very much!

[2017-01-15 13:34] #51 closed

[2017-01-18 21:02] mtoto commented on #50
+1 stackoverflow would be nice too

[2017-02-12 02:26] diasdavid opened #56 "Is `relativeurls = true` supposed to work?"
I'm being unable to get relativeurls to work with this theme, is it supposed to work?

Ref: https://gohugo.io/extras/urls/

[2017-02-12 03:07] nishanths commented on #56
Adding `relativeurls = true` works for me in `exampleSite`. For instance, the page `http://localhost:1313/blog/metamorphosis-by-franz-kafka/` has the "About" link as a relative url.

Do you have an example where it doesn't?

[2017-02-12 03:11] nishanths commented on #56
I cloned the repo, then ran:

[code]

Then visited `http://localhost:1313/blog/metamorphosis-by-franz-kafka/` and inspected the `body > section.header > div > div > nav > ul > li.nav-about > a` element.

[2017-02-12 05:58] daviddias commented on #56
Interesting, I was unable to get CSS to load correctly with it, here is the code and the page loaded to IPFS:

- code https://github.com/diasdavid/daviddias.me/tree/hugo
- published at http://ipfs.io/ipfs/QmdFv5Y11ecBTum6xnKhdMqGDBA6ecHANkSjevB7pF8t9P/

I've been successful using another hugo theme, which can be seen at: http://blog.daviddias.me/

[2017-02-12 06:05] nishanths commented on #56
[code]

It's unable to find the CSS files because of the query portion `?t=<timestamp>`. A web server would be able to serve them usually, but perhaps using relative URLs makes it not work.

The timestamp exists for cache busting. You can disable it by setting in `config.toml`:

[code]

This should remove the `?t=<timestamp>` portion.

[2017-02-12 06:08] daviddias commented on #56
Just tried it: https://ipfs.io/ipfs/QmcsoyYrz4qK9q25z2ciAgErM1tcbf3sZiAqarhUwFB2Hp/blog/webrtc-explorer-2-0-0-alpha-release/ and it doesn't seem to make the trick, any other tips?

The url in html looks right, but then the request goes to another place:
![image](https://cloud.githubusercontent.com/assets/1211152/22860068/e174a71e-f0a6-11e6-9e81-6ddf861c1c7d.png)

[2017-02-12 06:16] nishanths commented on #56
The file `layouts/partials/head.html` does:

[code]

The base URL is specified here in config.toml. https://github.com/diasdavid/daviddias.me/blob/hugo/config.toml#L1

In this case, I think the base URL should be: `https://ipfs.io/ipfs/QmdFv5Y11ecBTum6xnKhdMqGDBA6ecHANkSjevB7pF8t9P/`

[2017-02-12 06:19] daviddias commented on #56
Got it! The base url needs to be `""`, in my previous blog with hugo, `"/"` was the thing to make it work, here seems to be `""` which makes more sense.

I wouldn't be able to select the baseURL that way, since it is the hash of the content in a Directed and Acyclic Graph (can't point to itself).

This works for me, thank you! :)

[2017-02-12 06:19] #56 closed

[2017-02-12 06:19] nishanths commented on #56
glad to help!

[2017-03-01 14:39] vkobel opened #58 "The "base href" parameter is doing more harm than good"
Hi,
I stumbled upon this great theme I use for my personal [blog](https://kobl.one/), thanks to @nishanths for that!

However one tiny little detail bothered me: the use of `<base href="{{ .Site.BaseURL }}">` tag in the [partial head.html](https://github.com/nishanths/cocoa-hugo-theme/blob/master/layouts/partials/head.html#L3).
Is it really necessary in this case? I understand how this could be us

[2017-03-01 15:06] nishanths commented on #58
does setting `baseurl = https://ipfs.io/ipns/<contenthash>/` in `config.toml` fix the issue? https://github.com/nishanths/cocoa-hugo-theme/blob/master/exampleSite/config.toml#L1

if not, let me know

[2017-03-01 17:14] vkobel commented on #58
I'm sure it does. I was just questioning the purpose of this base tag actually. By removing it, everything works as expected. Or did I miss something?

[2017-03-05 01:59] nishanths commented on #58
Hi @vkobel, sorry about the delay! I did not think it through completely when initially adding the `<base href>` tag, and it does seem to be causing more pain than good. For example, here's a related issue: https://github.com/nishanths/cocoa-hugo-theme/issues/56.

I'm happy to merge a pull request that removes the tag :)

As for why removing it works, it might be because the relative URLs for your

[2017-03-06 08:02] vkobel commented on #58
Hey, thanks for your answer.
Pull request #59 has been submitted :+1:

[2017-03-06 23:10] nishanths commented on #58
closed via #59

[2017-03-06 23:10] #58 closed

[2017-03-17 02:22] c1ay opened #60 "Support markdown form"

[2017-03-24 20:24] lpancescu opened #63 "Possible typo in markdown.less: em instead of rem"
Hi,

While reading the source, I noticed that the `font-size` for `h3` is the only one set in `em`, while all the other heading styles are specified in `rem`. Is this perhaps a typo?

https://github.com/nishanths/cocoa-hugo-theme/blob/master/dev/less/markdown.less#L27

[2017-03-25 00:20] nishanths commented on #63
yes, it's a typo

[2017-03-25 00:20] nishanths commented on #63
happy to merge a fix!

[2017-03-25 12:54] nishanths commented on #63
fixed via #64

[2017-03-25 12:54] #63 closed

[2017-03-25 16:41] lpancescu commented on #10
I would like to propose a solution, splitting just the blog page in sections (by year or by month), and limiting the number of posts displayed on the home page, with a "See more" link. Everything configurable in config.toml, so we don't break existing sites.

There's still room for improvement: when splitting the posts in sections, the year is repeated both in the section title and for each post.

[2017-03-27 16:29] lpancescu opened #67 "Support multilingual sites"
Would it be possible to add multilingual support to Cocoa? I already have a functional implementation in the `i18n` branch of `lpancescu/cocoa-hugo-theme`, but I'm not sure how you would like to switch between the languages. Perhaps country flags as SVGs, near the other icons?

I can also send it as a PR, if you prefer that for easier discussion.

[2017-03-28 04:19] nishanths commented on #67
I'd be thrilled to see this implemented! Yes, country flags sounds good. Ideally, we should include an option in `config.toml` (a boolean is fine) to show/hide the flags.

[2017-03-28 09:46] lpancescu commented on #67
@nishanths I thought I could resize the flags to a maximum of 16x16 size, to be consistent with the existing icons in the theme (Wikipedia has public domain SVG flags - *gemeinfrei* in German). The German and French flags, which use big colored stripes, are still looking acceptable, but flags with higher levels of detail like the USA or the UK ones don't look nice at this size, especially on non-r

[2017-03-29 10:14] lpancescu commented on #67
@nishanths I have a first implementation of country flags for switching between languages - I clipped a relevant square portion of the flags, and applied rounded corners. I included two screenshots with German and English text in the README:

https://github.com/lpancescu/cocoa-hugo-theme/blob/i18n-flags/README.md#switch-between-languages

[2017-03-29 12:44] elonzh commented on #50
Why not use [`fontawesome`](http://fontawesome.io/icons/) ?

Simply using params in config and render them in template.

[2017-03-29 13:22] strauhmanis opened #68 "Per page, blog post meta description"
Hey!

I'd like to ask please to make it possible for an individual blog posts and pages to have their own meta description.

Currently only the site-wide description is processed:

``
{{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}
``

Thanks!

[2017-04-02 01:59] robinst commented on #68
Somewhat related, here's a PR adding OpenGraph meta tags, for Twitter and others: https://github.com/nishanths/cocoa-hugo-theme/pull/69

[2017-04-02 03:15] nishanths commented on #67
❤️ the flags @lpancescu, happy to merge as is!

[2017-04-02 03:45] nishanths commented on #50
Yes, fontawesome is a good option. It's a large library, hence the hesitation to include it. Ideally, we have individual SVGs for just the icons we need.

Happy to include fontawesome behind a `config.toml` flag.

[2017-04-02 12:48] lpancescu commented on #67
Implemented in PR #70, closing.

[2017-04-02 12:48] #67 closed

[2017-04-21 03:25] wooken opened #77 "Custom content requires 'index' in its path"
## Desired effect

Achieve the following link `http://localhost:1313/hi`.

## Issue

The following directories:

Don't map to any of the layouts:

## Current Workaround

Use the link `http://localhost:1313/hi9000/index` with the following:

In order to achieve the desired effect, I am currently using this alias in `hi9000.md`:

[code]

## Question

How can I achieve the desired effect that doesn't

[2017-04-21 08:36] lpancescu commented on #77
This is due to how Hugo works, nothing specific to this theme. The first-level directories under *content* determine the section and the default type (you can override the latter in the front matter of your post).  In your case:

* `content/hi.md`: default section, default type
* `content/fixed/hi.md`: section *fixed*, type *fixed*

The theme currently expects your non-blog pages to be under `fixe

[2017-04-21 21:25] wooken commented on #77
Thank you for the detailed explanation along with the documentation link, @lpancescu. Your solution works.

[2017-04-21 21:25] #77 closed

[2017-04-30 07:18] diimdeep opened #78 "Markdown nested list look flat"
![image](https://cloud.githubusercontent.com/assets/485713/25562414/4178deea-2d8e-11e7-906b-632e4b9eeb92.png)

[2017-05-09 19:05] tokelove opened #84 "Does not create index.html"
I get the following when building using the default config.toml found in the exampleSite, on the latest version of Hugo

`hugo -v
INFO 2017/05/09 20:00:53 Using config file:
INFO 2017/05/09 20:00:53 /home/aaron/sites/tokelove/static/ is the only static directory available to sync from
INFO 2017/05/09 20:00:53 syncing static files to /home/aaron/sites/tokelove/public/
WARN 2017/05/09 20:00:53 No tr

[2017-05-09 19:29] lpancescu commented on #84
The provided config.toml doesn't set the theme. You have to add `-t cocoa` to the hugo parameters or add `theme = "cocoa"` to config.toml. Or maybe we should add it, to stop confusing people.

[2017-05-09 19:33] tokelove commented on #84
Thanks Ipancescu. Should've rtfm

[2017-05-09 19:33] #84 closed

[2017-05-09 19:40] lpancescu commented on #84
@tokelove To be fair, other themes do set themselves as the default theme in their example configuration - I now patched cocoa to do the same and avoid similar issues in the future (assuming the theme is cloned in `themes/cocoa`).

[2017-05-09 19:44] lpancescu commented on #84
@tokelove I updated your comment to use triple backticks - this preserves block formatting in Markdown, instead of showing everything on a single line. I hope that's ok.

[2017-05-09 19:51] tokelove commented on #84
How dare you! ;) Yeah that's fine, thanks

[2017-05-11 21:43] teekaay opened #86 ""back to posts" link does not redirect to blog posts"
Hey, thanks for this amazing theme!
When I press the "back to posts" Link in a blog post (e.g. `/blog/my-post/`) I am redirected to
`/blog` which renders a blank page. In `layouts/blog/single.html` maybe the following should be changed:

     <p><a href="/blog/">{{ i18n "backToPosts" }}</a></p>

to

     <p><a href="/">{{ i18n "backToPosts" }}</a></p>

so that I am back to my start page after clic

[2017-05-12 16:40] lpancescu commented on #86
It's probably your configuration. The example site works fine:

    mkdir -p $TMPDIR/site
    cd $TMPDIR/site
    git clone https://github.com/nishanths/cocoa-hugo-theme.git themes/cocoa
    (cd themes/cocoa && cp -a exampleSite/ ../..)
    hugo serve -w

[2017-05-28 16:04] sheonhan opened #87 "Ordered List not being rendered"
When I write in Markdown:
[code]

It gets rendered as:
- One
- Two
- Three

I tried this theme on a newly created site and the behavior persists. Could you help me with this issue?

[2017-05-30 22:36] danielsiwiec opened #89 "Add an instagram link"
Hi, it would be great to add instagram to the list of available links (next to facebook, email, github, linked, etc). I'd be happy to submit a PR for this

[2017-05-31 13:17] felixthoemmes commented on #87
I am using RMarkdown, so maybe it's a bit different, but I had the same issue.
Currently, I use the workaround

1.) One
2.) Two
3.) Three

but this shows up as:

<p>1.) Pre-register your analyses and report the results of your pre-registration fully<br />
2.) If you decide to run an unregistered analysis, mark it as exploratory</p>

So also not a list, but at least it looks as intended.

[2017-05-31 13:18] felixthoemmes opened #90 "Footnotes not showing properly"
I use RMarkdown, and include footnotes like [^1] and then at the end of the document
[^1]:

The footnote in the text does not get superscripted, and the footnote text at the end of the page is in an unordered list (meaning it has a disk symbol, and not a number).

[2017-05-31 17:26] nishanths commented on #89
yes, please make a PR, thanks!

[2017-05-31 20:53] #86 closed

[2017-05-31 21:04] lpancescu commented on #90
I think this is caused by Eric Meyer's `reset.css`, which blindly overwrites a large number of useful browser defaults and causes several issues:

- table headers are unstyled
- bold and italics stylings are lost (already fixed by this theme)
- nested lists are broken (issue #78)
- subscripts and superscripts lose their size and position
- ordered lists are rendered as unordered (issue #87)

It wo

[2017-05-31 21:10] lpancescu commented on #68
@strauhmanis Is PR #80 missing anything you wanted for per-page meta description? If not, I would propose closing this issue.

[2017-06-01 02:18] resoltico commented on #68
@lpancescu this looks great. Thank you! Please close the issue.

[2017-06-01 03:20] danielsiwiec commented on #89
Hmm. @nishanths where did you get the svgs from? I'm having a hard time finding a similar one, at similar size.

[2017-06-01 21:11] #21 closed

[2017-06-01 21:12] #68 closed

[2017-06-01 21:13] #10 closed

[2017-06-01 21:26] lpancescu commented on #89
@danielsiwiec You could use the public domain SVG from https://commons.wikimedia.org/wiki/File:Instagram_Shiny_Icon.svg (resize to 16x16 in Inkscape and optimize with [svgo][]). It would be the only colored icon in a row of black-white icons, but I guess you can't change that due to trademark issues.

[svgo]: https://github.com/svg/svgo

[2017-06-02 09:20] dimitrijer opened #94 "Highlight.js background is not used in <code> blocks"
Hi, really fell in love with the theme!

When using any theme for Highlight.js, background color isn't applied to `<pre>` box because of this rule in `main.css`:
[code]

[2017-06-18 13:00] diasdavid opened #96 "Support for markdown bulleted identation"
Hi @nishanths! Still a great fan of your theme and the one I continue to use for my website.

One quick question, why the lack of support for indentation on markdown bullets, such as:

- a
  - 1
  - 2
  - 3
- b

[code]

cocoa is rendering it as a flat list for me.

Thanks!

[2017-07-13 03:58] danielsiwiec commented on #89
@nishanths @lpancescu Created PR #97

[2017-07-24 03:08] #89 closed

[2017-07-26 12:58] asyncial opened #98 "Cocoa theme doesn't provide the standard header for .md files"
I tried to create a new blog page, an it works, but there is noch header information, like date, draft and title.
Hugo spits put a warning too:

[code]
Is this wanted behaviour?`

[2017-07-27 06:50] lpancescu commented on #98
This certainly isn't intended, but I don't see the warning you've quoted anywhere, not even when running `hugo -v` on my own site. I'm running Hugo 0.25, though. Do you see it with the example site from the theme?

**UPDATE** Never mind, I see it when running `hugo new blog/test.md` (for the future, please provide the exact commands you're trying to run, not just their output).

[2017-07-27 07:16] lpancescu commented on #98
Thanks for reporting this, fixed by commit 685cb1f

[2017-07-27 07:16] #98 closed

[2017-08-20 06:44] nishanths commented on #96
Thanks for reporting! Poor CSS on my part. Will take a look soon; happy to merge a PR that fixes this as well.

[2017-08-20 06:48] nishanths commented on #90
@lpancescu thanks for digging in! as you rightly noted, swapping normalize.css would require substantial work to keep the theme looking the same as before :)

overall, I think we should do custom styles for each of the issues you listed—browser defaults don't usually fit in well with this theme. will try to carve out some time soon!

[2017-10-12 03:47] pingrunhuang opened #101 "Support for comment functionality"
Hey, I am currently using cocoa hugo theme for my blog. And I always wanted to have a comment section to communicate with my readers. Since I am in China, the disqus is blocked by the GFW. I have searched for several alternative and others might require building you own database which is not suitable for a static page hosted on github. So I add a gitalk functionality to the theme wondering if you

[2017-10-16 11:07] nishanths commented on #101
@pingrunhuang yes, for sure. please make a pull request when you find a chance! (and @mention me if possible so that I can make sure to look at it)

[2017-10-16 11:36] nishanths commented on #101
I would recommend looking at the existing `piwik` implementation, if you're looking for a pattern to follow

[2017-10-16 12:08] nishanths commented on #78
thanks! fixed in c78ef11d95458932eb7ec70a72e8326bc9212347

[2017-10-16 12:08] #78 closed

[2017-10-16 12:09] nishanths commented on #87
thanks! fixed in ded90f8

[2017-10-16 12:09] #87 closed

[2017-10-16 12:11] nishanths commented on #20
@tristan-k update: in case it helps we have `piwik` support now

[2017-10-16 12:32] nishanths opened #102 "is the min hugo version correct?"
Is the min hugo version in theme.toml accurate? Particularly after the changes to how the built-in `now` function works.

[2017-10-17 02:07] pingrunhuang commented on #101
Hey @nishanths , so glad to hear from you. I currently have met a problem of managing my own hugo project and the cocoa theme project. I am treating the cocoa theme project as a submodule in git. But the problem is I have made some customized modification to the cocoa theme to fit into my use.  Which means I have the following structure for my project:
[code]
Since I have to much customized stuff

[2017-10-17 04:11] pingrunhuang commented on #101
@nishanths , glad to hear from you. Can I work on the misc branch or do I need to create a new branch?

[2017-10-17 10:05] nishanths commented on #101
@pingrunhuang please create a new branch. I don't think GitHub will let you push to the `misc` branch.

Typically, contributors do the following:
- create a fork of the repository on GitHub
- clone the forked repository and work on it (creating branches as they like)
- push the branches to the forked repository
- open a pull request from a branch on the forked repository to the `master` branch of

[2017-10-24 07:20] singhkays opened #105 "How can I display "Latest Posts" from sections other than "blog"?"
I see the code at the link below controls which categories' posts show up on the main page. However, I have two more categories (monthly roundup of links) that needs to display posts on the front page. How can I add support for categories other than "blog"?

https://raw.githubusercontent.com/nishanths/cocoa-hugo-theme/master/layouts/index.html

[2017-10-26 10:07] Dapuva76 opened #106 "trouble with '#' in title of entry"
If you create posts that have a # somewhere in their title, clicking on the link to the post will result in a 404.

[2017-10-26 11:54] Dapuva76 opened #107 "changed sorting parameter in latest hugo release?"
I just dl'd and installed Hugo 0.30.2, and when I generate the site using
hugo --theme=cocoa
all the posts are sorted in ascending order. Before it was descending. I can't find anything in config.toml to influence this.

[2017-10-27 05:12] singhkays commented on #107
Agreed, I have this issue as well. The latest post should be at the top

[2017-10-27 05:16] singhkays opened #108 "Displaying images wider than text?"
I've noticed that the paragraph width is capped at max of 750px however, I'd like my images to be wider than 750px and display in the center like with Medium (examples [here](https://medium.com/gone/iceland-travel-guide-tips-and-road-trip-itinerary-c9089b120338)). Is this possible?

https://github.com/nishanths/cocoa-hugo-theme/blob/ded90f8ba3fff687113c457d62d94152c7b5b9d9/static/css/main.css#L107

[2017-11-02 04:40] nishanths opened #109 "Hugo's built-in syntax highlighting"
Consider adding support for the built-in syntax highlighter. See the release notes at https://github.com/gohugoio/hugo/releases/tag/v0.28 for details.

[2017-11-02 04:41] nishanths commented on #102
updated to 0.26

[2017-11-02 04:41] #102 closed

[2017-11-02 04:44] #107 closed

[2017-11-02 04:51] singhkays commented on #105
@nishanths I figured this out, here's the index.html I am using on my site. I wasn't sure if you want this to be the default behavior for everyone but it made send for my site as I had other categories than just "blog". Hopefully it helps others looking to do this.

[code]

[2017-11-02 04:51] nishanths commented on #108
Sadly, I can't think of a quick one-line solution to this. I'm open to a PR that makes it possible though! Alternatively, you can try overriding some styles in a custom CSS file (if that's easier).

https://github.com/nishanths/cocoa-hugo-theme/blob/310c527dd0dcf5416abdded94695085cf4356c28/exampleSite/config.toml#L46

[2017-11-02 06:37] pingrunhuang opened #111 "Wondering if there is a new functionality for managing the blog with archive?"
Is it possible for the theme to add a category tab so that the blogs can be archived better?

[2017-11-06 00:24] nishanths commented on #101
closed via #103

[2017-11-06 00:24] #101 closed

[2017-11-06 00:25] nishanths commented on #20
we also have `gitalk` support now

[2017-11-12 01:50] nishanths commented on #96
This should have been fixed around a month ago with these 2 commits: https://github.com/nishanths/cocoa-hugo-theme/commit/c78ef11d95458932eb7ec70a72e8326bc9212347, https://github.com/nishanths/cocoa-hugo-theme/commit/ded90f8ba3fff687113c457d62d94152c7b5b9d9. Please re-open if that didn't fix it.

[2017-11-12 01:50] #96 closed

[2017-11-12 11:45] daviddias commented on #96
Thanks @nishanths :)

[2017-11-20 00:40] nishanths opened #113 "document the calendar param"
the calendar param was added in https://github.com/nishanths/cocoa-hugo-theme/commit/2338510f39cb76da87311fdeb6c34cd73e3f2632

[2017-12-02 21:57] gtpedrosa opened #117 "Linkedin and twitter icons not displayed"
I just cloned the repository and ran `hugo server` on the example website. However the linkedin and twitter icons appear with `style = "display: none !Important;" ` in the html file. Coincidently both are missing from the example page, as shown below.

![screenshot from 2017-12-02 18-52-31](https://user-images.githubusercontent.com/5048784/33520057-439f4ef8-d792-11e7-89fb-6754c7c270e6.png)

I don'

[2017-12-03 21:29] nishanths commented on #117
This isn't the intended behavior, but sadly I'm unable to reproduce on `v0.32-DEV darwin/amd64` and on `v0.30.2 darwin/amd64`. The demo site doesn't have the issue either. https://themes.gohugo.io/theme/cocoa/.

Couple of things to try:
- Check if you have local modifications to your copy of theme.
- If you have a link to a repo with your website's Hugo source code, I can take a look.

[2017-12-03 21:31] nishanths commented on #117
this is a wild guess, but maybe you have a browser extension/script that hides social icons?

[2017-12-03 21:33] nishanths opened #118 "Broken static About/Code pages in the live example"
The live example site fails to render the About and the Code page:
https://themes.gohugo.io/about/

But they works correctly when serving the example site locally.

[2017-12-03 21:35] nishanths commented on #118
more info: the live site links fail because they don't have  a  `theme/cocoa/` prefix.

[2017-12-04 17:14] gtpedrosa commented on #117
@nishanths Thanks for the feedback. I have:

* made no modifications in the theme for this example
* created a [repository with the code used in the example](https://github.com/gtpedrosa/example_cocoa)

I got ahold another machine today and couldn't reproduce the issue with Hugo v0.30.2 windows/amd64 either. Both icons show without problem. Here is the output with the same source code:

![image](h

[2017-12-08 02:47] gtpedrosa commented on #117
@nishants You were right about the extension. I am using adblock for firefox and it has an option to block social media icons tracking. After disabling it the icons showed up normally. Here's the option disabled:

![adblock](https://user-images.githubusercontent.com/5048784/33748690-b23cc114-dba8-11e7-8dc2-e4d588c21d8d.png)

It is strange that with the hugo theme I used previously this did not hap

[2017-12-08 02:47] #117 closed

[2017-12-08 16:40] nishanths commented on #117
Thanks. Glad that worked out.

[2017-12-12 09:15] nishanths commented on #60
i'm super late to this, sorry. Could you explain what you mean by markdown form?

[2017-12-17 16:02] felixlinker opened #119 "Can't disable RSS icon"
Hi there,

I'd really like to use your hugo-theme but I can't get the RSS icon to disappear. This is how my `config.toml` looks like:

[code]

I also tried setting `RSSlin = ""`, setting it in the `[params]` section and did the same for `rsslink`. Neither of thoses attempts worked. This .html code is always added:

[code]

[2017-12-20 11:28] #119 closed

[2017-12-20 11:30] nishanths commented on #119
hi, thanks for the report. please see https://github.com/nishanths/cocoa-hugo-theme/commit/7b98e5456442a5d892f14681f71791db458c9b95 and https://github.com/nishanths/cocoa-hugo-theme/commit/8e046d63393f77763bc5492277828b695d34ab0f. the commits add a new `include_rss` parameter to `config.toml`. you can set it to false to disable RSS.

`.RSSLink` turns out to always be a non-empty string, so we can'

[2017-12-20 18:55] felixlinker commented on #119
Thank you very much for the quick fix - works as expected.

[2018-01-02 20:56] TribuneX opened #123 "Footer for Link to Imprints"
I would like to have a link to the necessary "Imprints" page. Ideally, it should not be that prominent in the main menu. Therefore, I would like to have it in a footer area. Does this theme support a footer with links in it?

[2018-01-07 23:23] ulrich-schroeders opened #124 "Reading time not showing up"
Hello,

I didn't manage to display the time approx. necessary to read a post.
In _config.toml_ the respective line seems correct:
`noshowreadtime         = false                         # if true, don't show "<x> minutes read" in posts`
Moreover, the date isn't showing up either?

Any ideas on this topic are appreciated. Kind regards
Ulrich

[2018-01-10 23:25] ulrich-schroeders commented on #124
OK, I figured it out.
It is not allowed to indicate the type in the meta-section, that is, do not use `type: post`, which was automatically added by the wordpress-export-tool I used.
 @#
Keep up the good work, btw!

[2018-01-10 23:25] #124 closed

[2018-01-11 17:53] nishanths commented on #123
It doesn't.

Pull requests to add a footer are welcome.

[2018-01-12 17:04] joelfischerr commented on #123
I have not added a footer but I have tried to add a link to my imprints page below the row with the icons (see the attached screenshot).
Could this be useful to you as well?

![screen shot 2018-01-12 at 17 59 49](https://user-images.githubusercontent.com/2352766/34886215-9edc799e-f7c2-11e7-9153-529ef446d9ce.png)

[2018-04-22 16:27] scriptnull opened #128 "Add Telegram icon"
It would be good to have a Telegram icon at the bottom as on of the communication methods.

![image](https://user-images.githubusercontent.com/4211715/39097259-95f08376-4677-11e8-8b6c-9a7255e1324e.png)

It will be pointing to t.me/telegram_username

[2018-05-02 22:01] scriptnull opened #129 "Night mode"
I like cocoa mainly due to its cleanliness. Important elements that are present in cocoa and are responsible for being clean are giving a lot of space on the sides and the clear white background.

But white background could strain the eyes when reading the site in low light conditions. So, I suggest a night mode option.

With a little inspect element magic, here is a small example of how Night mod

[2018-05-07 03:40] nishanths commented on #129
Thanks for the suggestion.

This approach sounds good to me. To do the actual switching in CSS, I think adding top-level CSS classes (`.light`, `.dark`) on the body tag would be a decent approach (feel free to adjust if you have thoughts).

[2018-05-07 03:41] nishanths commented on #128
I'm open to PRs that add the icon, with the option to configure it in `config.toml` (similar to existing icons). Relates to #50.

[2018-06-03 15:47] 0xswitch commented on #129
hey thanks for you themes, how can we use the dark mode now :) ? ty

[2018-06-11 16:01] mberasategi opened #131 "Page title not showing in front page"
Hi,

I have an (almost) fresh setup of the Cocoa theme and the page title in the front page just went missing. "Blog" pages show the post title as a page title. I keep both "author" variables (top of the page and under `[params]`) and the "title" variable in the `config.toml` file, exactly as the example site.

Also I'm sure it was working when I first built the site locally, then went away at som

[2018-06-12 10:51] chenzhekl opened #132 "[Feature request"

[2018-06-23 13:17] Hrafven opened #133 ""Back to post" button i18n"
Hi @nishanths ,
I have an issue when using the "back to post" button in a post with internationalization.

It always redirects to /blog instead of /de/blog for example.

I have found the origin of this issue and will make a PR

Thanks

[2018-06-23 15:47] #133 closed

[2018-06-27 22:03] ghost commented on #67
I have problem with enabling the `de` language. How do you do it? I enabled the `i18n_flags` in config file. What else is needed at this point? You have to set language in each, separate post / page or maybe it is possible to change default theme language too?

[2018-06-29 19:25] hrafven commented on #90
As suggested by @lpancescu I replaced reset.css with normalize. Everything seems to be looking the same as before and this issue is fixed.
![image](https://user-images.githubusercontent.com/15106129/42110788-b52b039c-7be2-11e8-989a-3d3d2b88c99a.png)

[2018-09-09 11:50] TribuneX commented on #123
That`s what I am looking for. Can you share how you achieved this?

[2018-10-02 03:00] UtkarshVerma commented on #128
@nishanths Done!

[2018-10-02 04:17] #128 closed

[2018-10-10 23:43] c-edw opened #139 "Scroll on overflow in code blocks."
It can be difficult to read code which is wrapped. Perhaps the element could horizontally scroll instead? Maybe a configuration option could be added? Let me know what you think, I am happy to submit a PR for this.

[2018-10-12 10:48] lzane commented on #139
+1

[2018-12-14 21:42] husainaloos commented on #139
Currently I commented out line 624 in `main.css`
[code]
Don't know if this is the best fix, but it worked for me.

[2019-01-22 07:15] looker53 opened #145 "How to set pagination while blogs grow more and more?"
when I get too many posts, how to load them page by page

[2019-01-26 15:15] cedws commented on #139
I've moved on to another theme since there's not much development going on here. I recommend trying out some other themes unless you're willing to fork this.

[2019-01-27 21:43] husainaloos opened #146 "Is this project still under development?"
I was wondering if this project is still under any development. I wonder if I should keep using it or not.

[2019-01-27 21:43] husainaloos commented on #139
@c-edw I created an [issue](https://github.com/nishanths/cocoa-hugo-theme/issues/146) to check if this project is under development.

[2019-02-09 23:35] husainaloos commented on #139
I have not gotten a response. So I am going to fork this theme.

[2019-05-27 01:36] kubido commented on #145
Since the current theme only displaying "see more" to the  `identifier` root page.

I manage to do pagination like this in `layouts/index.html`:
[code]

[2019-06-14 22:06] VincentTam commented on #132
It would be even better if you replace MathJax with KaTeX.

[2019-06-14 22:17] VincentTam commented on #20
Hi, this is the maintainer of @staticmanlab, a public GitLab instance of [Staicman](https://staticman.net).  It might be very late, but here's some shortcomings of the commenting systems mentioned above.

1. Isso contains a 3rd-party script to be loaded during page rendering.  The above code block shows that the static comments are not rendered as static HTML code.  This hinders search engines fro

[2019-07-12 13:34] nishanths commented on #146
Hi, I don’t actively maintain it. I’ll add a note in the repo description. :)

[2019-11-30 11:29] hijulian opened #147 "LATEST POSTS show folders, not articles？"
![image](https://user-images.githubusercontent.com/6925683/69899914-c7286180-13a7-11ea-9dda-184fcc3fa546.png)

[2020-08-11 10:51] #147 closed

[2020-08-11 10:51] nishanths commented on #147
Thanks for reporting!

This should now be fixed in https://github.com/nishanths/cocoa-hugo-theme/commit/b005f54b90c4e70a1c7cb94140e94503fbc45c44.

[2020-09-02 16:54] nishanths opened #149 "theme's accessibility should be first-class"

[2020-11-15 09:20] pgrandinetti commented on #145
The suggestion above didn't work for me.

Here's how I've changed the index.html (entire file)

[code]

Additional changes:

- Added `paginate = 10` into `config.toml`. Use lower number to test.
- Added `newerPosts` and `olderPosts` into `i18n/en.yaml`

Commit is here: https://github.com/pgrandinetti/cocoa-hugo-theme/commit/99ed865ea5f826fcc200cad30fb317e785ab6f42
Let me know if you'd like a PR @n

[2020-11-16 00:49] nishanths commented on #145
Thanks, that would be good. But I also like the old behavior because it displays all links on a single page when `See more` is clicked, and would like to preserve it too.

I can merge a PR that does something like below, if you can find time.

[code]

[2020-11-17 18:39] pgrandinetti commented on #145
@nishanths I will! Though the reason why I implemented it like that is that the "old way" didn't work for me.
When I check the `$totalpostscount` variable is not set correctly from within the template. Not totally sure why though.
Anyway I'll implement the if/then/else and let you know.

[2020-11-17 18:44] nishanths commented on #145
Anyway I'll implement the if/then/else and let you know.

Thanks for reporting this. I'm also seeing the issue with `$totalpostscount`. I'll look into it more. We can just keep the broken `$totalpostscount` code in the if/else for now though.

[2020-11-18 10:43] pgrandinetti commented on #145
@nishanths I believe that was a syntax bug. I fixed it and enabled both options in this PR: https://github.com/nishanths/cocoa-hugo-theme/pull/151

I think you were trying to do an "infinite-scrolling"-like page, but without ajax. So that's what my PR does. I left a comment there in.

[2020-11-19 20:09] pgrandinetti commented on #145
Cool, This can be closed!

[2020-11-20 00:13] nishanths commented on #145
Thank you, missed it.

[2020-11-20 00:13] #145 closed